body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Merriweather;
  color: rgb(0, 0, 0);
}

.hr p,
.lhi p,
.me p,
.mir p {
  margin-bottom: 1em;
}

.ba {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 7.8301794293%;
  padding-top: 20px;
  font-size: 1em;
  font-weight: 900;
  text-align: right;
  color: rgb(0, 0, 0);
}

.bsc {
  position: relative;
  float: left;
  z-index: 4;
  width: 7.8301794293%;
  padding-top: 20px;
  font-size: 1em;
  font-weight: 900;
  text-align: right;
  color: rgb(0, 0, 0);
}

.contactinfo {
  display: inline-block;
  float: left;
  margin: 21px 0 0 1.27309%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.content {
  position: relative;
  float: left;
  z-index: 10;
  width: 66.3333333333%;
  height: 879px;
  margin: -215px 0 0 0.01172%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(241, 241, 241);
}

.hr {
  position: relative;
  float: right;
  z-index: 7;
  width: 89.757819394%;
  margin-right: 0.12563%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.johann {
  float: left;
  width: 80%;
  min-height: 73px;
  margin: 40px 0 0 10%;
  padding-top: 20px;
  font-size: 3.125em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.lhi {
  position: relative;
  float: right;
  z-index: 8;
  width: 89.757819394%;
  margin-right: 0.12563%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.me {
  float: left;
  clear: both;
  width: 80.0833333333%;
  height: 175px;
  margin-left: 10%;
}

.mir {
  position: relative;
  float: right;
  z-index: 9;
  width: 89.757819394%;
  margin-right: 0.12563%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.na {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 7.8301794293%;
  padding-top: 20px;
  font-size: 1em;
  font-weight: 900;
  text-align: right;
  color: rgb(0, 0, 0);
}

.smetti {
  display: block;
  float: right;
  width: 143px;
  height: auto;
  margin-right: 0.20812%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 13.6666666666%;
  height: 43px;
  margin-left: 10%;
  padding-left: 5px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.38;
  text-align: left;
  color: rgb(0, 0, 0);
}

._button-1 {
  z-index: 11;
  border-top-left-radius: 5px;
  background-color: rgb(241, 241, 241);
}

._button-2 {
  z-index: 12;
  background-color: rgb(196, 196, 196);
}

._button-3 {
  z-index: 13;
  background-color: rgb(196, 196, 196);
}

._button-4 {
  z-index: 14;
  background-color: rgb(196, 196, 196);
}

._button-5 {
  z-index: 15;
  background-color: rgb(196, 196, 196);
}

._button-6 {
  z-index: 16;
  border-bottom-left-radius: 5px;
  background-color: rgb(196, 196, 196);
}

._button-2:hover,
._button-3:hover,
._button-4:hover,
._button-5:hover,
._button-6:hover {
  border-right-width: 0;
  border-right-style: none;
  background-color: rgb(214, 214, 214);
}

.johann a {
  color: rgb(5, 5, 5);
}

.lhi strong {
  font-style: inherit;
  font-weight: 700;
  color: inherit;
}

.hr a,
.lhi a,
.mir a {
  color: rgb(90, 90, 90);
}

.hr strong,
.mir strong {
  font-style: inherit;
  font-weight: 700;
}

@media(max-width: 1024px) {
  .content {
    position: relative;
    clear: both;
    z-index: 10;
    width: 66.50390625%;
    height: 900px;
    margin-top: -258px;
    margin-left: 23.59467%;
  }

  .content .ba {
    position: relative;
    z-index: 5;
    width: 7.7621913544%;
    margin-left: 0.02983%;
  }

  .content .bsc {
    position: relative;
    z-index: 4;
    width: 7.7621913544%;
  }

  .content .hr {
    position: relative;
    z-index: 7;
    width: 89.3384287969%;
    margin-right: 0.40841%;
  }

  .content .lhi {
    position: relative;
    z-index: 8;
    width: 89.4848852376%;
    margin-right: 0;
  }

  .content .mir {
    position: relative;
    z-index: 9;
    width: 89.4848852376%;
    margin-right: 0;
  }

  .content .na {
    position: relative;
    z-index: 6;
    width: 7.7621913544%;
    margin-left: 0.0413%;
  }

  .johann {
    margin-left: 9.99756%;
    font-size: 2.625em;
  }

  .me {
    margin-left: 9.99756%;
  }

  .me .contactinfo {
    margin-left: 1.27089%;
  }

  .me .smetti {
    height: auto;
    margin-right: 0.09908%;
  }

  ._button {
    position: relative;
    width: 13.671875%;
    margin-left: 9.99756%;
    font-size: 0.875em;
  }

  ._button-1 {
    z-index: 11;
  }

  ._button-2 {
    z-index: 12;
  }

  ._button-3 {
    z-index: 13;
  }

  ._button-4 {
    z-index: 14;
  }

  ._button-5 {
    z-index: 15;
  }

  ._button-6 {
    z-index: 16;
  }

  .hr strong,
  .lhi strong,
  .mir strong {
    font-style: normal;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 0.875em;
  }

  .content {
    position: relative;
    z-index: 10;
    width: 79.9479166666%;
    height: 808px;
    margin-top: 0;
    margin-left: 10.02401%;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 0;
  }

  .content .ba {
    position: relative;
    z-index: 5;
    width: 6.347107438%;
    margin-left: 0;
    font-size: 14px;
    text-align: left;
  }

  .content .bsc {
    position: relative;
    z-index: 4;
    width: 6.347107438%;
    font-size: 14px;
    text-align: left;
  }

  .content .hr {
    position: relative;
    z-index: 7;
    width: 91.4634456452%;
    margin-right: 0;
    font-size: 14px;
  }

  .content .lhi {
    position: relative;
    z-index: 8;
    width: 91.4634456452%;
    font-size: 14px;
  }

  .content .mir {
    position: relative;
    z-index: 9;
    width: 91.4634456452%;
    font-size: 14px;
  }

  .content .na {
    position: relative;
    z-index: 6;
    width: 6.347107438%;
    margin-left: 0;
    font-size: 14px;
    text-align: left;
  }

  .johann {
    font-size: 2.286em;
  }

  .me {
    width: 80.0458715596%;
    margin-left: 9.97111%;
  }

  .me .contactinfo {
    margin-left: 1.26576%;
    font-size: 1.143em;
  }

  .me .smetti {
    height: auto;
    margin-right: 0;
  }

  ._button {
    position: relative;
    font-size: 1em;
    text-align: center;
  }

  ._button-1 {
    z-index: 11;
    width: 12.7604166666%;
    margin-left: 10.02401%;
  }

  ._button-2 {
    clear: none;
    z-index: 12;
    margin-left: 0;
  }

  ._button-3 {
    clear: none;
    z-index: 13;
    margin-left: 0;
  }

  ._button-4 {
    clear: none;
    z-index: 14;
    margin-left: 0;
  }

  ._button-5 {
    clear: none;
    z-index: 15;
    margin-left: 0;
  }

  ._button-6 {
    clear: none;
    z-index: 16;
    width: 12.5%;
    margin-left: 0;
    border-bottom-left-radius: 0;
  }
}

@media(max-width: 568px) {
  .content {
    position: relative;
    clear: none;
    z-index: 10;
    width: 79.9295774647%;
    height: 1069px;
    margin-left: 10.21127%;
  }

  .content .ba {
    position: relative;
    z-index: 5;
    width: 42.5898951817%;
    margin-top: 19px;
    border-bottom-width: 1px;
  }

  .content .bsc {
    position: relative;
    z-index: 4;
    width: 42.5898951817%;
    border-bottom-width: 1px;
  }

  .content .hr {
    position: relative;
    clear: both;
    z-index: 7;
    width: 99.9857195898%;
  }

  .content .lhi {
    position: relative;
    clear: both;
    z-index: 8;
    width: 99.9857195898%;
  }

  .content .mir {
    position: relative;
    clear: both;
    z-index: 9;
    width: 99.9857195898%;
  }

  .content .na {
    position: relative;
    z-index: 6;
    width: 42.5898951817%;
    margin-top: 19px;
    border-bottom-width: 1px;
  }

  .johann {
    margin-left: 9.9967%;
    font-size: 1.714em;
  }

  .me {
    width: 80.1666666666%;
    height: 136px;
    margin-left: 9.99945%;
  }

  .me .contactinfo {
    margin-left: 1.25592%;
    font-size: 0.857em;
  }

  .me .smetti {
    width: 101px;
    height: auto;
  }

  ._button {
    position: relative;
    font-size: 0.857em;
  }

  ._button-1 {
    z-index: 11;
    margin-left: 10.21677%;
  }

  ._button-2 {
    clear: both;
    z-index: 12;
    margin-top: -43px;
    margin-left: 22.9726%;
  }

  ._button-3 {
    z-index: 13;
    margin-top: -43px;
    margin-left: 36.64998%;
  }

  ._button-4 {
    z-index: 14;
    margin-top: -43px;
    margin-left: 50.3136%;
  }

  ._button-5 {
    z-index: 15;
    margin-top: -43px;
    margin-left: 63.99373%;
  }

  ._button-6 {
    z-index: 16;
    margin-top: -43px;
    margin-left: 77.6656%;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 0.875em;
  }

  .content {
    position: relative;
    clear: both;
    z-index: 10;
    width: 79.6875%;
    height: 1099px;
    margin-left: 10%;
  }

  .content .ba {
    position: relative;
    z-index: 5;
    width: 50.974025974%;
  }

  .content .bsc {
    position: relative;
    z-index: 4;
    width: 48.7012987012%;
  }

  .content .hr {
    position: relative;
    z-index: 7;
    width: 100%;
  }

  .content .lhi {
    position: relative;
    z-index: 8;
    width: 100%;
  }

  .content .mir {
    position: relative;
    z-index: 9;
    width: 100%;
  }

  .content .na {
    position: relative;
    z-index: 6;
    width: 50.974025974%;
  }

  .johann {
    margin-left: 10%;
  }

  .me {
    width: 80%;
    height: 103px;
    margin-left: 10%;
  }

  .me .contactinfo {
    margin-left: 1.26343%;
  }

  .me .smetti {
    width: 86px;
    height: auto;
  }

  ._button {
    position: relative;
  }

  ._button-1 {
    z-index: 11;
    width: 27.1874999999%;
    margin-left: 10%;
  }

  ._button-2 {
    clear: none;
    z-index: 12;
    width: 25.6249999999%;
    margin-top: 0;
    margin-left: 0;
  }

  ._button-3 {
    z-index: 13;
    width: 26.875%;
    margin-top: 0;
    margin-left: 0;
    border-top-right-radius: 5px;
  }

  ._button-4 {
    clear: both;
    z-index: 14;
    width: 27.1874999999%;
    margin-top: 0;
    margin-left: 10%;
  }

  ._button-5 {
    z-index: 15;
    width: 25.6249999999%;
    margin-top: 0;
    margin-left: 0;
  }

  ._button-6 {
    z-index: 16;
    width: 26.875%;
    margin-top: 0;
    margin-left: 0;
  }
}