body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Merriweather;
  color: rgb(0, 0, 0);
}

div p {
  margin-bottom: 1em;
}

.contactinfo {
  display: inline-block;
  float: left;
  margin: 21px 0 0 1.27309%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.content {
  position: relative;
  float: left;
  z-index: 5;
  width: 66.3333333333%;
  height: 531px;
  margin-top: -215px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(241, 241, 241);
}

.hr {
  float: right;
  width: 100%;
  padding: 20px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.johann {
  float: left;
  width: 80%;
  min-height: 73px;
  margin: 40px 0 0 10%;
  padding-top: 20px;
  font-size: 3.125em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.me {
  float: left;
  clear: both;
  width: 80.0833333333%;
  height: 175px;
  margin-left: 10%;
}

.smetti {
  display: block;
  float: right;
  width: 143px;
  height: auto;
  margin: 1px 0.20812% 0 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  height: 43px;
  margin-left: 10%;
  padding-left: 5px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.38;
  text-align: left;
  color: rgb(0, 0, 0);
}

._button:hover {
  background-color: rgb(214, 214, 214);
}

._button-1 {
  z-index: 6;
  width: 13.6666666666%;
  border-top-left-radius: 5px;
  background-color: rgb(196, 196, 196);
}

._button-2 {
  z-index: 7;
  width: 13.6%;
  background-color: rgb(241, 241, 241);
}

._button-3 {
  z-index: 8;
  width: 13.6666666666%;
  background-color: rgb(196, 196, 196);
}

._button-4 {
  z-index: 9;
  width: 13.6666666666%;
  background-color: rgb(196, 196, 196);
}

._button-5 {
  z-index: 10;
  width: 13.6666666666%;
  background-color: rgb(196, 196, 196);
}

._button-6 {
  z-index: 11;
  width: 13.6666666666%;
  border-bottom-left-radius: 5px;
  background-color: rgb(196, 196, 196);
}

._button-2:hover,
._button-3:hover,
._button-4:hover,
._button-5:hover,
._button-6:hover {
  border-right-width: 0;
  border-right-style: none;
}

.hr a {
  border-style: none;
  color: rgb(90, 90, 90);
}

.hr span {
  border-style: none;
  font-style: normal;
  font-size: 1.5em;
  font-weight: inherit;
  word-spacing: 1px;
  color: inherit;
}

.hr strong {
  border-style: none;
  font-style: inherit;
  font-weight: 700;
}

.johann a {
  color: rgb(5, 5, 5);
}

@media(max-width: 1024px) {
  body {
    font-size: 0.875em;
  }

  .content {
    position: relative;
    clear: both;
    z-index: 5;
    width: 66.50390625%;
    height: 493px;
    margin-top: -258px;
    margin-left: 23.63129%;
  }

  .content .hr {
    width: 99.4126284875%;
    margin-right: 0.52772%;
    font-size: 14px;
  }

  .johann {
    margin-left: 9.99756%;
    font-size: 3em;
  }

  .me {
    margin-left: 9.99756%;
  }

  .me .contactinfo {
    margin-left: 1.27089%;
    font-size: 1.143em;
  }

  .me .smetti {
    height: auto;
    margin-top: 0;
    margin-right: 0.09908%;
  }

  ._button {
    position: relative;
    width: 13.671875%;
    margin-left: 9.99756%;
    font-size: 1em;
  }

  ._button-1 {
    z-index: 6;
  }

  ._button-2 {
    z-index: 7;
  }

  ._button-3 {
    z-index: 8;
  }

  ._button-4 {
    z-index: 9;
  }

  ._button-5 {
    z-index: 10;
  }

  ._button-6 {
    z-index: 11;
  }

  .hr span {
    font-size: 1.429em;
  }

  .hr strong {
    font-style: normal;
  }
}

@media(max-width: 768px) {
  .content {
    position: relative;
    z-index: 5;
    width: 79.9479166666%;
    height: 492px;
    margin-top: 0;
    margin-left: 10.02401%;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 0;
  }

  .content .hr {
    width: 101.655629139%;
    margin-right: -0.82523%;
  }

  .johann {
    font-size: 2.286em;
  }

  .me {
    width: 80.0458715596%;
    margin-left: 9.97111%;
  }

  .me .contactinfo {
    margin-left: 1.26576%;
  }

  .me .smetti {
    height: auto;
    margin-right: 0;
  }

  ._button {
    position: relative;
    text-align: center;
  }

  ._button-1 {
    z-index: 6;
    width: 12.7604166666%;
    margin-left: 10.02401%;
  }

  ._button-2 {
    clear: none;
    z-index: 7;
    margin-left: 0;
  }

  ._button-3 {
    clear: none;
    z-index: 8;
    margin-left: 0;
  }

  ._button-4 {
    clear: none;
    z-index: 9;
    margin-left: 0;
  }

  ._button-5 {
    clear: none;
    z-index: 10;
    margin-left: 0;
  }

  ._button-6 {
    clear: none;
    z-index: 11;
    width: 12.5%;
    margin-left: 0;
    border-bottom-left-radius: 0;
  }
}

@media(max-width: 568px) {
  body {
    font-size: 0.875em;
  }

  .content {
    position: relative;
    clear: none;
    z-index: 5;
    width: 79.9295774647%;
    height: 713px;
    margin-left: 10.03246%;
  }

  .content .hr {
    width: 102.2306663851%;
    margin-top: 3px;
    margin-right: -1.12613%;
  }

  .johann {
    margin-left: 9.9967%;
    font-size: 1.714em;
  }

  .me {
    width: 80.1666666666%;
    height: 136px;
    margin-left: 9.99945%;
  }

  .me .contactinfo {
    margin-left: 1.25592%;
    font-size: 0.857em;
  }

  .me .smetti {
    width: 101px;
    height: auto;
  }

  ._button {
    position: relative;
    font-size: 0.857em;
  }

  ._button-1 {
    z-index: 6;
    margin-left: 9.99945%;
  }

  ._button-2 {
    clear: both;
    z-index: 7;
    margin-top: -43px;
    margin-left: 22.74978%;
  }

  ._button-3 {
    z-index: 8;
    margin-top: -43px;
    margin-left: 36.43541%;
  }

  ._button-4 {
    z-index: 9;
    margin-top: -43px;
    margin-left: 50.09628%;
  }

  ._button-5 {
    z-index: 10;
    margin-top: -43px;
    margin-left: 63.77916%;
  }

  ._button-6 {
    z-index: 11;
    margin-top: -43px;
    margin-left: 77.44828%;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 0.75em;
  }

  .content {
    position: relative;
    clear: both;
    z-index: 5;
    width: 79.6875%;
    height: 531px;
    margin-left: 10%;
  }

  .content .hr {
    width: 104.0650406504%;
    margin-top: 2px;
    margin-right: -2.01531%;
    font-size: 12px;
  }

  .johann {
    margin-left: 10%;
    font-size: 2em;
  }

  .me {
    width: 80%;
    height: 103px;
    margin-left: 10%;
  }

  .me .contactinfo {
    margin-left: 1.26343%;
    font-size: 1em;
  }

  .me .smetti {
    width: 86px;
    height: auto;
  }

  ._button {
    position: relative;
    font-size: 1em;
  }

  ._button-1 {
    z-index: 6;
    width: 27.1874999999%;
    margin-left: 10%;
  }

  ._button-2 {
    clear: none;
    z-index: 7;
    width: 25.6249999999%;
    margin-top: 0;
    margin-left: 0;
  }

  ._button-3 {
    z-index: 8;
    width: 26.875%;
    margin-top: 0;
    margin-left: 0;
    border-top-right-radius: 5px;
  }

  ._button-4 {
    clear: both;
    z-index: 9;
    width: 27.1874999999%;
    margin-top: 0;
    margin-left: 10%;
  }

  ._button-5 {
    z-index: 10;
    width: 25.6249999999%;
    margin-top: 0;
    margin-left: 0;
  }

  ._button-6 {
    z-index: 11;
    width: 26.875%;
    margin-top: 0;
    margin-left: 0;
  }

  .hr span {
    font-size: 1.333em;
    color: #000000;
  }
}